@model Isearch.Models.TrainingFeedBack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrainingFeedBack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb18)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb18)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb19)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb19)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb20)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb20)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb21)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb21)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb22)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb22)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb23)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb23)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb24)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb24)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb25)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb25)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb26)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb26)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb27)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb27)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb28)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb28)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb29)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb29)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fb30)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fb30)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Training.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
